<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.silentmusicparty">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DJActivity" android:screenOrientation="portrait" />
        <activity android:name=".SpeakerActivity" android:screenOrientation="portrait" />
        <activity android:name=".ChatLoginActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" />
        <activity
            android:name=".PlayListActivity" android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".TestActivity" android:screenOrientation="portrait"
            android:label="Host"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MemberActivity" android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:label="Member"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".barcode.BarcodeCaptureActivity" android:screenOrientation="portrait" />
        <service android:name=".Service.StepCountService"/>


    </application>

</manifest>